p.important {
  color: red;

}
.flashy {
  color: red;
  font-style: italic;
}
.best {
  font-family: cursive;
  font-weight: bold;
}
img {
  width: 50%;
}
.important{
  font-style: italic;
  color: blue;
}
.unimportand{
  color: yellow;
}
@media screen and (min-width: 300px) and (max-width: 480px) {
  body {
    background-color: black;
    color: white;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  body {
    background-color: red;
    color: white;
  }
}
