p.important {
  color: red;

}
.flashy {
  color: red;
  font-style: italic;
}
.best {
  font-family: cursive;
  font-weight: bold;
}
img {
  width: 50%;
}
.important{
  font-style: italic;
  color: blue;
}
.unimportand{
  color: yellow;
}
